<div class="panel_signup">
  <div class="container">
    <div class="separator_top"/>&nbsp;</div><p/>
	<code width="80%">Lembra-te que os utilizadores registrados podem procurar outros conteúdos para além dos artigos.
<a href="<%= signup_path %>">Registra-te</a> e exprimenta. Vais ver que não te arrependes!
Se já estas registrado <a href="<%= root_path %>">autentica-te</a>!</code><p/>
	<div class="panel_search_stories">
	<h2><img src="/images/silk/icons/newspaper.png"/> Artigos</h2>
	<% form_tag search_stories_path do |f| %> 
		<div class=".panel_search_story">
			<%= text_field 'query', nil, {:size => 25} %>

		<%= submit_tag "Procurar" %> 
				</div>
				<br/>
	<% end %>
	<h2><img src="/images/silk/icons/note.png"/> Ficheiros</h2>
	<% form_tag search_files_path do |f| %> 
		<div class=".panel_search_story">
			<%= text_field 'query', nil, {:size => 25} %>

		<%= submit_tag "Procurar" %> 
				</div>
				<br/>
	<% end %>
	<% if session[:user] %>
	<h2><img src="/images/silk/icons/box.png"/> Trabalhos Práticos</h2>
	<% form_tag search_projects_path do |f| %> 
		<div class=".panel_search_story">
			<%= text_field 'query', nil, {:size => 25} %>
		<%= submit_tag "Procurar" %> 
				</div>
				<br/>
	<% end %>
	<% end %>
	</div>
	<div class="separator_top"/>&nbsp;</div>
  </div>

</div>